/* https://fonts.googleapis.com/css?family=Nunito */

* {
    outline: none;
  }
  
  html,
  body {
    height: 100%;
    min-height: 100%;
  }
  
  body {
    margin: 0;
    background-color: #ffd8d8;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  .tb {
    display: table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    /* width: 550px; */
    max-width: 800px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
  }
  
  form {
    height: 96px;
  }
  
  input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
  }
  
  input[type="text"]::placeholder {
    color: #e16868;
  }
  
  #s-cover {
    width: 1px;
    padding-left: 35px;
  }
  
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }
  
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
  }
  
  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
  }
  
  .center {
    text-align: center;
    color: white;
  }
  .button_ {
    background: rgb(0, 213, 225);
    color: #fff;
    font-size: large;
    padding: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 6px;
    transition: 0.4s;
  }
  .button_:hover {
    color: rgb(0, 213, 225);
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    
  }
  .list {
    max-width: 800px;
    min-height: 0px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
    scrollbar-width: 0px;
  }
  .list::-webkit-scrollbar {
    display: none;
  }
  .list-items {
    padding: 25px 10px;
    /* text-decoration: none; */
    list-style-type: none;
    font-size: 50px;
  }
  .list-items:hover {
    background-color: #ff9a9a;
    border: rgb(238, 167, 167);
    border-radius: 20px;
  }

  .show_data {
    display: none;
    position: relative;
    top: 150px;
    margin: 100px;
    margin-bottom: 100px;
    padding: 40px;
    /* border: 1px solid #e16868; */
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(255,255,255,0.2),
                -10px -10px 10px rgba(0,0,0,0.2),
                inset -5px -5px 5px rgba(255,255,255,0.2),
                inset 5px 5px 5px rgba(0,0,0,0.1);
    /* height: 800px; */
  }
  .inner_d {
    min-height: 100px;
    /* outline: 1px solid rgb(255, 4, 4); */
    margin: 20px;
    padding: 10px;
  }
  .inner_d h2{
    color: #444;
    font-size: 2em;
  }

  @media screen and (max-width: 550px) {
    #cover {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        /* width: 400px; */
        margin: 10px;
        background-color: #ff7575;
        border-radius: 20px;
        box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
        transform: translateX(-50%) scale(0.6) translateY(-50%);
    }
    .list {
      display: none;
      max-width: 800px;
      padding: 35px;
      top: 50%;
      left: 50%;
      right: 0;
      margin: 0 auto;
      background-color: #ff7575;
      border-radius: 20px;
      box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
      transform: scale(0.6);
      scrollbar-width: 0px;
    }
    .show_data {
      top: 250px;
      margin: 20px;
      padding: 16px;
    }
    .inner_d {
      /* outline: 1px solid rgb(255, 4, 4); */
      margin: 4px;
      padding: 0px;
    }
    .inner_d h2{
      font-size: 1.4em;
    }
  }