/* https://fonts.googleapis.com/css?family=Nunito */

* {
    outline: none;
  }
  
  html,
  body {
    height: 100%;
    min-height: 100%;
  }
  
  body {
    margin: 0;
    background-color: #4a4a4a;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  .tb {
    display: table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    /* width: 550px; */
    max-width: 800px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #bcbcbc;
    border-radius: 6px;
    box-shadow: 0 10px 40px #dbdbdb, 0 0 0 10px #ffffffeb;
    transform: scale(0.6);
  }
  
  form {
    height: 96px;
  }
  
  input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
  }
  
  input[type="text"]::placeholder {
    color: #2b2b2b;
  }
  
  #s-cover {
    width: 1px;
    padding-left: 35px;
  }
  
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }
  
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
  }
  
  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
  }
  
  .center {
    text-align: center;
    color: white;
  }
  /* .button_ {
    background: rgb(0, 213, 225);
    color: #fff;
    font-size: large;
    padding: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 6px;
    transition: 0.4s;
  }
  .button_:hover {
    color: rgb(0, 213, 225);
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    
  } */
  .list {
    max-width: 800px;
    min-height: 0px;
    padding: 24px;
    margin: -83px auto 0 auto;
    background-color: #b5b5b5;
    border-radius: 6px;
    box-shadow: 0 10px 40px #d8d8d8, 0 0 0 10px #ffffffeb;
    transform: scale(0.6);
    scrollbar-width: 0px;
  }
  .list::-webkit-scrollbar {
    display: none;
  }
  .list-items {
    padding: 16px 10px;
    /* text-decoration: none; */
    list-style-type: none;
    font-size: 48px;
  }
  .list-items:hover {
    background-color: #b8b8b8;
    border: rgb(216, 216, 216);
    border-radius: 6px;
  }

  .show_data {
    display: none;
    position: relative;
    top: 150px;
    margin: 100px;
    margin-bottom: 100px;
    padding: 40px;
    /* border: 1px solid #e16868; */
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(255,255,255,0.2),
                -10px -10px 10px rgba(0,0,0,0.2),
                inset -5px -5px 5px rgba(255,255,255,0.2),
                inset 5px 5px 5px rgba(0,0,0,0.1);
    /* height: 800px; */
  }
  .justify_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inner_d {
    min-height: 100px;
    /* outline: 1px solid rgb(255, 4, 4); */
    margin: 20px;
    padding: 10px;
  }
  .inner_d h2{
    color: rgb(222, 222, 222);
    font-size: 2em;
  }
  .reg_det h2{
    color: rgb(231, 231, 231);
    font-size: 2.6em;
    text-align: center;
    margin: 20px;
  }
  .reg_det p{
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    text-align: center;
    margin: 4px;
  }
  .inner_d .vh-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
  }
  .inner_d .vh-det{
    /* min-height: 100px; */
    /* outline: 1px solid rgb(255, 4, 4); */
    width: fit-content;
    margin: 2.8px;
    padding: 6px;
    /* outline: 1px solid #f00; */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: inset 0 0 20px 10px #e5e5e544;
  }
  .inner_d .vh-det h3{
    margin: 4px;
    color: #91d15d;
  }
  .vh-det p{
    margin: 4px;
    font-size: 1.2em;
    color: #fbeaa0;
  }
  .vh-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #9d9d9d;
    box-shadow: 0 0 40px 8px #c9c9c987;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #vh-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 900px) {
/* #cover {
    width: 126%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    height: 40px;
    -width: 400px;
    font-size: 1.2em;
    margin: 0;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 10px #ffffffeb;
    transform: translateX(-50%) scale(0.6) translateY(-50%);
} */
    input[type="text"] {
      width: 90%;
      height: 96px;
      font-size: 60px;
      line-height: 1;
    }
    #cover {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        /* width: 400px; */
        background-color: #9b9b9b;
        border-radius: 20px;
        box-shadow: 0 10px 40px #9c9c9c, 0 0 0 6px #ffffffeb;
        transform: translateX(-50%) scale(0.6) translateY(-50%);
    }
    .list {
      display: none;
      max-width: 800px;
      padding: 35px;
      top: 50%;
      left: 50%;
      right: 0;
      margin: 0 auto;
      background-color: #bfbfbf;
      box-shadow: 0 10px 40px #999999, 0 0 0 8px #ffffffeb;
      transform: scale(0.6);
      scrollbar-width: 0px;
    }
    .list-items {
      padding: 16px 10px;
      font-size: 42px;
    }
    .show_data {
      top: 250px;
      margin: 20px;
      padding: 16px;
    }
    .inner_d {
      /* outline: 1px solid rgb(255, 4, 4); */
      margin: 4px;
      padding: 0px;
    }
    .inner_d h2{
      font-size: 2em;
    }
    .justify_center {
      margin-top: 20px;
    }
  }